body {
    background-color: #1a1a1d;
}

h1 {
    color: #c3073f;
    font-size: 50px;
    font-family: "Arial Black";
    font-weight: 700;
    font-variant: small-caps;
    line-height: 30px;
    margin-bottom: 10px;

}

h2 {
    color: white;
    font-size: 25px;
    font-family: impact;
    font-weight: 200;
    
}

p {
    color: white;
}

form {
    color: white;
}

.header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.footer {
    margin-left: 512px;
    margin-right: 512px;
    margin-top: 10px;
    height: 30px;
    background-color: #333;

}

.buttons {
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color: #333;
    position: relative;
    margin-left: 512px;
    margin-right: 512px;
    height: 500px;
 
 
}

ul {
    list-style-type: none;
    margin-left: 512px;
    margin-right: 512px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }